GCMC Run
temperature  303.150000

steps    1000
equilibration    1500

max guest atoms      3000
max framework atoms      15000

cutoff          12.500000 angstrom
delr            1.0 angstrom
ewald precision  1d-6

numguests 1000
history 0

&guest 1
  pressure (bar) 0.990364
  probability 2
  1  1
  2  2  3
&end

&guest 2
  pressure (bar) 0.004411
  probability 2
  1  1
  2  2  3
&end

move insert 0.333
move delete 0.333
move displace 0.333

grid factors 4 3 3

grid spacing 0.150000

finish
