GCMC Run
temperature  298.000000

steps    25000
equilibration    50000

max guest atoms      3000
max framework atoms      15000

cutoff          6.250000 angstrom
delr            1.0 angstrom
ewald precision  1d-6

numguests 1000
history 0

averaging window 25000

&guest 1
  pressure (bar) 56.686930
&end

move insert 0.50
move delete 0.25
move displace 0.25

accept displace  0.45
accept translate 0.3
accept rotate 0.25

grid factors 2 2 2

grid spacing 0.150000

finish
